<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  @defer {
    <div class="courses">

      @for(course of courses; track $index; let count = $count) {

      <course-card 
        (courseChanged)="save($event)"
        type="beginner"
        [course]="course"> 

        <course-image [src]="course.iconUrl"></course-image>

      </course-card>
    }

    </div>
  }
  @placeholder(minimum 5s) {

    <h2>This is the placeholder.</h2>

  }

</div>




