<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>
<!-- default: on idle is  trigger; prefetch on idle -->
<!-- prefetch of bundle comes first, then displays the defered bundle -->
  @defer(on timer(15s); prefetch on timer(10s)) {
    <div class="courses">

      @for(course of courses; track $index; let count = $count) {

      <course-card 
        (courseChanged)="save($event)"
        type="beginner"
        [course]="course"> 

        <course-image [src]="course.iconUrl"></course-image>

      </course-card>
    }

    </div>
  }
  @placeholder {
    <h2>This is the placeholder.</h2>
  }
  @loading(minimum 3s; after 1s){
    <h2>This is a loading indicator...</h2>
  }
  @error{
    <h2>An error occurred.</h2>
  }

</div>




