<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo-triggers">
  <input placeeholder="type to trigger prefetch" #prefetch>
  <button #display>Trigger Display</button>
</div>
<h1 #title>Trigger Viewport</h1>


<div>
<!-- default: on idle is  trigger; prefetch on idle -->
<!-- prefetch of bundle comes first, then displays the defered bundle -->
  @defer(on interaction(display); prefetch on interaction(prefetch)) {
    <div class="courses">

      @for(course of courses; track $index; let count = $count) {

      <course-card 
        (courseChanged)="save($event)"
        [cardIndex]="$index"
        type="beginner"
        [course]="course"> 

        <course-image [src]="course.iconUrl"></course-image>

      </course-card>
    }

    </div>
  }
  @placeholder {
    <input placeholder="this is the placeholder!">
  }
  @loading(minimum 3s; after 1s){
    <h2>This is a loading indicator...</h2>
  }
  @error{
    <h2>An error occurred.</h2>
  }

</div>




